$color-white: #fff;
$color-cloud-white: #f2f9fe;
$color-black: #000;
$color-button-red: #f44336;
$color-button-active-red: rgb(139, 0, 0);
$color-light-grey: rgb(211, 211, 211);
$color-dark-grey: rgb(169, 169, 169);
$color-darker-grey: #888888;
$color-sky-light: #38b6ff;
$color-sky-dark: rgba(0, 0, 255, 0.5);
$color-tan: rgb(210, 180, 140);
$color-light-blue: rgb(173, 216, 230);
// $color-lens-fill: rgb(200, 255, 200);
$color-lens-fill: rgb(1, 165, 1);
$color-dark-tan: #6b5c47;

$color-notebook: #ffff99;
$color-notebook-line: rgb(0, 128, 128);
$color-light-silver: rgb(190, 190, 190);

$title-shadow: 0 0 1.5rem $color-white;
$sub-title-shadow: 0 0.2rem 1rem $color-white;
$text-shadow: 0 0 0.5rem $color-black;
$text-shadow-game: 0 0 1rem $color-black;
$box-shadow-game: inset 0 0 0.7rem $color-darker-grey;

$title-padding: 0 0.5rem;
