.game-window {
  padding: 1rem;
  left: 0;
  &__score-timer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__score {
    @include scoreboard;
    background-color: $color-tan;
    display: flex;
    flex-shrink: 0;

    &--text {
    }
  }

  &__timer {
    @include scoreboard;
    background-color: $color-light-blue;
    &--text {
    }
  }

  &__lens {
    @include centerOfViewport;
    // border: 0.1rem solid $color-black;
    width: 11rem;
    height: 11rem;
    z-index: 2;

    &--svg {
      fill: transparent;
    }

    &--circle-reticle {
      stroke: $color-black;
      stroke-width: 0.4rem;
      stroke-dasharray: -90;
      stroke-dashoffset: 1000;
      fill: transparent;
    }

    &--circle {
      stroke: $color-black;
      stroke-width: 0.4rem;
      stroke-dasharray: -90;
      stroke-dashoffset: 1000;
      fill: transparent;

      &-active {
        width: 12rem;
        height: 12rem;
        stroke: $color-lens-fill;
        stroke-width: 1rem;
        stroke-dasharray: 360;
        stroke-dashoffset: 360;
        fill: transparent;
        animation: stroke 1.5s linear;
        animation-fill-mode: backwards;

        @keyframes stroke {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }

  &__flash {
    display: none;
    position: fixed;
    // border: .1rem solid $color-white; Not sure I need this
    background-color: $color-white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // color: $color-black; Not sure I need this
    z-index: 2;
  }
}
