.title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Gagalin;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  &__logo {
    width: 8rem;
    height: auto;
    overflow: hidden;
    padding: $title-padding;
  }

  &__exhibit-1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    text-shadow: $title-shadow;
    padding: $title-padding;
  }

  &__exhibit-2 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
    text-shadow: $sub-title-shadow;
    padding: $title-padding;
  }
}
